* {
  margin: 0;
  padding: 0;
}
body {
  background: #E1EAED;
  width: 100%;
  height: 100%;
}
.loginContainer, .loginMain, form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 400px;
  margin: 15% 0 2% 0;
}
.misionInvested {
  width: 380px;
  margin: 5% 0 5% 0;
}
p.iniciarSesion {
  width: 301px;
  height: 52px;
  margin: 6% 0 1% 20%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 52px;
  color: #33407F;
}
.email, .contraseña {
  box-sizing: border-box;
  width: 400px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1% 0 3% 0;
}
input::placeholder{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
  padding-left: 5%;
  color: rgba(0, 0, 0, 0.31);
}
.button{
  box-sizing: border-box;
  width: 400px;
  height: 45px;
  background: #7F89C9;
  border: 1px solid #111113;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 3% 0 5% 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
.exit {
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  background: #fb0202e0;
  border: 1px solid #111113;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 3% 0 5% 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.loginFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 2% 0;
}
.homeContainer, .homeMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerContainer {
  width: 1225px;
  height: 450px;
  margin: 1% 0 1% 0;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.userName {
  
  box-sizing: border-box;

  position: absolute;
  width: 350px;
  height: 45px;
  /* left: 490px;
  top: 215px; */

  background: #F3F6FA;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}






/* .contenedorLayouts {
  width: 1450px;
  height: 491px;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
} */
/* .contenedorInicioSesion {
  box-sizing: border-box;
  position: absolute;
  width: 500px;
  height: 300px;
  margin: 14% 33%;
  top: 130px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
} */







 /* .menu {
  position: absolute;
  left: 31px;
  top: 1262px;
  z-index: 2;
} */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {}